<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test">
    <test name="Test Case 1">
        <classes>
            <class name="tests.HomePageTest"/>
            <class name="tests.OffersTest"/>
        </classes>
    </test>
</suite>